<div
    class="
        game
        group
        flex
        justify-start
        items-center

        transition-shadow
        duration-400

        p-5

        border-none
        rounded-xl
        bg-base-100/0

        backdrop-blur-sm
        shadow-lg

        hover:shadow-sm
        hover:text-base-content

        w-[90%]

        {{ class }}
    "
    style="cursor: pointer;"
>
    <div
        class="flex flex-col gap-5 w-full"

        {% if trailer %}
            onmouseenter="startVideo(this, '{{ trailer }}')"
        {% endif %}

    >
        <div class="flex gap-5 w-full">
            <div
                class="hover-3d flex-1"
                onmouseenter="playVideo(this)"
                onmouseleave="pauseVideo(this)"
            >
                <figure class="rounded-2xl p-3">
                    <img src="{{ pic }}" class="w-full h-full rounded-lg object-cover" alt="none"/>

                    <span class="loader-layer loading loading-spinner hidden z-20"></span>

                    <video
                        class="media-layer fade-video"
                        loop
                        muted
                        playsinline
                    >
                    </video>
                </figure>

                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <div class="flex flex-col gap-2 flex-1 z-0">
                <p class="text-3xl font-bold text-base-content">{{ title }}</p>
                <p class="text-lg text-base-content">{{ desc }}</p>

                <div class="flex-1"></div>

                <div class="stats w-full">
                    <div class="stat pl-0 flex-1">
                        <div class="stat-title">Reviews</div>
                        <div class="stat-value">62.5K </div>
                        <div class="stat-desc">1.5k reviews last month</div>
                    </div>

                    <div class="stat text-center flex-1">
                        <div class="stat-title">Online now</div>
                        <div class="stat-value">4,200</div>
                        <div class="stat-desc">25k month users</div>
                    </div>

                    <div class="stat text-right flex-1 pr-0">
                        <div class="stat-title">Raiting</div>
                        <div class="stat-value">Very positive</div>
                        <div class="stat-desc">89% people think so</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full flex items-end">

            <div class="flex flex-col gap-5">
                <div class="flex flex-col">
                    <p class="stat-title">Platforms</p>
                    <div class="flex gap-5">
                        <div class="flex gap-1 items-center">
                            <p class="text-2xl">Windows</p>
                            {% component "icon_auto" icon="windows" fill="currentColor" class="text-base-content" / %}
                        </div>
                        <div class="flex gap-1 items-center">
                            <p class="text-2xl">Macos</p>
                            {% component "icon_auto" icon="mac" fill="currentColor" class="text-base-content" / %}
                        </div>
                    </div>
                </div>

                <div class="flex flex-col">
                    <p class="stat-title">Languages</p>
                    <div class="flex gap-5">
                        <p class="text-2xl">English</p>
                        <p class="text-2xl">Russian</p>
                        <p class="text-2xl">Ukranian</p>
                    </div>
                </div>

            </div>

            <p class="text-xl w-full text-right">for <span class="text-3xl font-bold">{{ price }}</span></p>

        </div>
    </div>
</div>
