{% load component_tags %}
{% load static %}


{% component "base" text="qwe" %}

    {% fill "header" %}
        {% component "header" / %}
    {% endfill %}

    {% fill "body" %}

        {% block content %}

            {% include "tabs/"|add:tab|add:".html" %}

        {% endblock %}

    {% endfill %}

    {% fill "footer" %}
        {% component "footer" / %}
    {% endfill %}

{% endcomponent %}

<script>

    function activteCurrentTab(name){
        if (name === "Fresh"){
            activateTab(document.querySelectorAll(".tab")[0])
        }
    }

    activteCurrentTab("{{ tab }}")

</script>