{% load component_tags %}
{% load static %}


{% component "base" blocks="blocks" %}

    {% fill "body" %}

        {% component "pcard" type="inv" class="flex-col *:w-[70vw] *:h-[90vh] *:snap-start" %}

            {% fill "content" %}
                <section class="flex flex-col items-center h-full text-center">
                    <div class="h-full"></div>

                    <h1 class="text-6xl font-extrabold mb-8">Welcome to GayMers</h1>

                    <p class="text-2xl max-w-2xl text-base-content/60 mb-8">
                        Our goal is to make the search for the next game effortless and enjoyable — whether you're looking for something new to play, comparing different genres, or creating your own top lists.
                    </p>

                    <a href="#" class="btn bg-primary btn-lg px-10 border-none hover:bg-base-100/0">
                        Explore Games
                    </a>

                    <div class="h-full"></div>
                </section>

                <section class="flex flex-col items-center h-full text-center">
                    <div class="h-full"></div>

                    <p class="text-6xl font-bold mb-8">What you can do here?</p>

                    <div class="grid grid-cols-3 gap-10">

                        <div class="flex flex-col">
                            <div class="hover-3d mb-4 justify-center">
                                <figure class="w-50 h-50 rounded-2xl p-5">
                                    {% component "icon_auto" icon="discover" stroke="currentColor" class="text-accent w-full h-full" / %}
                                </figure>

                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>

                            <p class="text-2xl font-semibold mb-2">Discover New Games</p>
                            <p class="opacity-70 text-lg">Browse a constantly growing database of games with detailed info.</p>
                        </div>

                        <div class="flex flex-col">
                            <div class="hover-3d mb-4 justify-center">
                                <figure class="w-50 h-50 rounded-2xl p-5">
                                    {% component "icon_auto" icon="stats" stroke="currentColor" class="text-accent w-full h-full" / %}
                                </figure>

                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>

                            <p class="text-2xl font-semibold mb-2">See Real Statistics</p>
                            <p class="text-lg opacity-70">View accurate platform availability, genres, ratings, and more.</p>

                        </div>

                        <div class="flex flex-col">

                            <div class="hover-3d mb-4 justify-center">
                                <figure class="w-50 h-50 rounded-2xl p-5">
                                    {% component "icon_auto" icon="geom" stroke="currentColor" class="text-accent w-full h-full" / %}
                                </figure>

                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>

                            <p class="text-2xl font-semibold mb-2">Find What Fits You</p>
                            <p class="text-lg opacity-70">Use smart insights to pick the perfect game based on your style.</p>

                        </div>

                    </div>

                    <div class="h-full"></div>
                </section>

                <section class="flex flex-col items-center justify-center h-full text-center">
                    <div class="h-full"></div>

                    <h1 class="text-6xl font-extrabold mb-8">About us</h1>

                    <div class="h-full"></div>
                </section>

                <div class="flex items-center justify-center">

                    <div class="flex justify-center">
                        <span class="text-rotate text-7xl leading-[2]">
                            <span class="justify-items-center">
                                <span>🔍 EXPLORE</span>
                                <span>📈 TRACK</span>
                                <span>🎯 COMPARE</span>
                                <span>💬 SHARE</span>
                            </span>
                          </span>
                    </div>

                </div>
            {% endfill %}

        {% endcomponent %}

    {% endfill %}

{% endcomponent %}
