<div
    class="
        flex
        justify-start
        items-center

        transition-shadow
        duration-400

        p-5

        border-none
        rounded-xl
        bg-base-100/0

        backdrop-blur-sm
        shadow-lg

        hover:shadow-sm
        hover:text-base-content

        w-[90%]

        {{ class }}
    "
>
    <div class="flex flex-col gap-5">
        <div class="flex gap-5">
            <div class="relative h-auto object-cover flex-1">
                <img src="https://clan.fastly.steamstatic.com/images//3703047/98be0d0a60eca8edbad91ec0050918f83ea462e2.png" class="w-full h-full rounded-lg object-cover" />
                <div class="absolute inset-0 rounded-lg bg-primary/10"></div>
            </div>
            <div class="flex flex-col gap-2 flex-1">
                <p class="text-2xl font-bold text-base-content">About GayMers Studio</p>
                <p class="text-lg text-base-content">GayMers Studio is a passionate game development team based in Kharkiv, Ukraine. Our team consists of six dedicated members who share a love for gaming and a vision to make the gaming world more accessible and enjoyable for everyone.</p>

                <div class="stats lg:stats-horizontal shadow">
                    <div class="stat">
                      <div class="stat-title">Downloads</div>
                      <div class="stat-value">2.2M </div>  <!--add {{downloads}} instead of int-->
                    </div>
                  
                    <div class="stat">
                      <div class="stat-title">Daily users</div>
                      <div class="stat-value">4,200</div>  <!--add {{daily_users}} instead of int-->
                    </div>
                  
                    <div class="stat">
                      <div class="stat-title">Raiting</div> <!--add {{raiting}} instead of int-->
                      <div class="stat-value">4.5</div>
                    </div>
                </div>

                <ul class="list  rounded-box shadow-md">
  
                    <li class="p-4 pb-2 text-lg opacity-60 tracking-wide">Game availability on this platform</li>

                    <li class="list-row  items-center">
                        <div><img class="size-10 rounded-box" src="https://www.svgrepo.com/show/501427/windows.svg"/></div>
                        <div class="text-xs  uppercase font-semibold opacity-60">Windows</div>
                        <span class="text-green-200 text-lg">✅</span> <!--add {{staem_availability}} instead of char-->
                    </li>

                    <li class="list-row  items-center">
                        <div><img class="size-10 rounded-box" src="https://www.svgrepo.com/show/511330/apple-173.svg"/></div>
                        <div class="text-xs  uppercase font-semibold opacity-60">Mac</div>
                        <span class="text-green-200 text-lg">✅</span> <!--add {{mac_availability}} instead of char-->
                    </li>

                    <li class="list-row  items-center">
                        <div><img class="size-10 rounded-box" src="https://www.svgrepo.com/show/394571/xbox.svg"/></div>
                        <div class="text-xs  uppercase font-semibold opacity-60">Xbox</div> 
                        <span class="text-green-200 text-lg">❌</span>  <!--add {{xbox_availability}} instead of char-->
                    </li>
                    
                    
                    <li class="list-row  items-center">
                      <div><img class="size-10 rounded-box" src="https://www.svgrepo.com/show/327385/logo-playstation.svg"/></div>
                      <div class="text-xs  uppercase font-semibold opacity-60">Play Stantion</div>
                      <span class="text-green-200 text-lg">❌</span> <!--add {{ps_availability}} instead of char-->
                    </li>
                    
                  </ul>

                  <div class="stats lg:stats-horizontal shadow">
                    
                    <div class="stat">
                      <div class="stat-title"> Pricing on steam </div>
                      <div class="stat-value"> Free to play </div>  <!--add {{pricing_steam}} instead of char-->
                    </div>
                  
                    <div class="stat">
                      <div class="stat-title">Pricing on console</div>
                      <div class="stat-value">N/A</div>  <!--add {{pricing_console}} instead of char-->
                    </div>
                
                </div>

                  
                
            </div>
        </div>

        <div class="w-full">
            <p class="text-md text-base-content/60">We created our website to help gamers discover new games with ease. By providing detailed statistics and insights about various games, our platform allows players to find titles that match their interests and gaming style. At GayMers Studio, we combine data-driven insights with a genuine passion for gaming to bring the best experiences to our community.</p>
        </div>
    </div>
</div>
