@import "tailwindcss";
@plugin "daisyui" {
    themes: dim --default, light, dark, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid, lemonade, night, coffee, winter, nord, sunset
};
@plugin "daisyui/theme" {
  name: "steam";
  prefersdark: true;
  color-scheme: dark;

  /* базовые цвета */
  --color-base-100: #1b2838;  /* основной фон */
  --color-base-200: #2a475e;
  --color-base-300: #141619;
  --color-base-content: #ffffff;

  /* основные цвета */
  --color-primary: #66c0f4;
  --color-primary-content: #171a21;

  --color-secondary: #2a475e;
  --color-secondary-content: #ffffff;

  --color-accent: #1b2838;
  --color-accent-content: #66c0f4;

  --color-neutral: #171a21;
  --color-neutral-content: #acb2b8;

  /* состояния */
  --color-info: #75d0ff;
  --color-info-content: #171a21;
  --color-success: #4ade80;
  --color-success-content: #171a21;
  --color-warning: #fbbf24;
  --color-warning-content: #171a21;
  --color-error: #ef4444;
  --color-error-content: #171a21;

  /* эффекты */
  --depth: 1;
  --noise: 0;
}

@source "../../../**/*.{html,py,js}";
