{% load static %}

<div class="flex w-full gap-10 px-4 py-4 h-25">
    {% component "pcard" type="rounded" class="h-full" %}
        {% fill "content" %}
            <div class="flex w-full gap-10">
                {% component "card" type="inv" class="h-full" %}
                    {% fill "content" %}
                        <div class="flex items-center gap-2 h-full">
                            <img class="w-12 h-12" src="{% static 'logo/steam_white.png' %}" >
                            <p class="text-xl font-bold text-base-content">GayMers</p>
                        </div>
                    {% endfill %}
                {% endcomponent %}

                <div class="flex gap-5 items-center">
                    {% component "tab" class="h-full" %}
                        {% fill "content" %}
                            <div class="flex items-center gap-2">
                                <p class="text-lg text-currentColor">Fresh</p>
                            </div>
                        {% endfill %}
                    {% endcomponent %}

                    {% component "tab" class="h-full" %}
                        {% fill "content" %}
                            <div class="flex items-center gap-2">
                                <p class="text-lg text-currentColor">Trending</p>
                            </div>
                        {% endfill %}
                    {% endcomponent %}

                    {% component "tab" class="h-full" %}
                        {% fill "content" %}
                            <div class="flex items-center gap-2">
                                <p class="text-lg text-currentColor">Classic</p>
                            </div>
                        {% endfill %}
                    {% endcomponent %}
                </div>
            </div>
        {% endfill %}
    {% endcomponent %}

    {% component "search" / %}

    {% component "card" type="rounded" class="h-full" %}
        {% fill "content" %}
            <div class="flex items-center gap-3 h-full">
                <img class="w-10 h-10" src="{% static 'logo/steam_white.png' %}" >
                <p class="text-lg text-base-content ">Sign in</p>
            </div>
        {% endfill %}
    {% endcomponent %}
</div>
