<div
    class="
        game
        group
        flex
        justify-start
        items-center

        p-5

        w-[90%]
        aspect-[3/1]

        {{ class }}
    "
    style="cursor: pointer;"
>
    <div class="flex flex-col gap-5 w-full h-full">
        <div class="flex gap-5 w-full h-full">
            <div
                class="hover-3d flex-1"
            >
                <figure
                    class="
                        rounded-2xl w-full h-full skeleton p-3
                        bg-base-100/60 backdrop-blur-sm shadow-lg rounded-xl
                    "
                ></figure>

                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <div class="flex flex-col gap-2 flex-1 z-0">
                <div class="skeleton w-full min-h-10 bg-base-100/60 backdrop-blur-sm shadow-lg rounded-xl"></div>
                <div class="skeleton w-full h-full bg-base-100/60 backdrop-blur-sm shadow-lg rounded-xl"></div>

                <div class="flex-1"></div>

                <div class="flex gap-5 w-full h-full">
                    <div class="skeleton flex-1 bg-base-100/60 backdrop-blur-sm shadow-lg rounded-xl"></div>

                    <div class="skeleton flex-1 bg-base-100/60 backdrop-blur-sm shadow-lg rounded-xl"></div>

                    <div class="skeleton flex-1 bg-base-100/60 backdrop-blur-sm shadow-lg rounded-xl"></div>
                </div>
            </div>
        </div>

        <div class="w-full h-[40%] flex skeleton bg-base-100/60 backdrop-blur-sm shadow-lg rounded-xl">
        </div>
    </div>
</div>
